.q-modal-card {
  background-color: $black;
  text-align: center;
  &__close {
    position: absolute;
  }
  &__content {
    max-width: 80%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    gap: $q-gap-l;
  }
  &__img {
    margin: auto;
  }
  &__title {
    font-weight: $semibold;
  }
  &__txt {
    font-size: $fs-s;
    font-weight: $regular;
  }
}
