.qfc-notification-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $q-generic-space-2;
    font-size: $fs-m;
    font-weight: $medium;

    &__metadata {
      gap: $q-gap-m;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .time {
        color: #bababa;
        flex-shrink: 0;
      }
      .tag-label {
        flex-shrink: 0;
        background: #232323 no-repeat padding-box;
        border-radius: 4px;
      }
    }
    &__description {
    }
  }
  &__button {
  }
}
