$button-padding-horizontal: 2rem;
$button-padding-vertical: 0rem;
$button-text-color: $black;
$button-color: $black;
$button-focus-box-shadow-color: transparent;

@import "bulma/sass/elements/button";
