
.qfc-progress-bar {
  display: grid;
  grid-template-columns: 1fr 36px;
  align-items: center;
  padding: 5px;
  &__line {
    float: left;
    border-radius: 100px 100px 100px 100px;
    height: 7px;
    background-color: #696969;
    margin-right: 2rem;
  }
    &__completed {
      border-radius: 100px 100px 100px 100px;
      height: 7px;
    }
  
  
  &__value {
  float: right;
  position: relative;
}
}